# Parallelize by each row/column

In [2]:
import pandas as pd
import numpy as np
import multiprocessing as mp

In [13]:
df = pd.DataFrame(np.random.randint(3,10, size=[20,20]))

In [14]:
df.head()

   0  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19
0  5  3  7  5  5  6  4  7  9  9   8   5   9   5   8   3   3   8   5   8
1  9  7  7  3  9  6  6  3  4  6   7   5   4   5   9   8   5   8   8   5
2  4  9  9  7  7  7  9  4  6  7   8   9   3   3   3   3   4   7   4   9
3  3  3  6  5  9  4  7  4  7  7   8   7   4   3   7   4   9   5   7   8
4  7  9  3  5  3  4  8  7  5  3   8   4   4   3   3   3   7   4   9   3

## Applying a function row wise (limited # ofprocesses)

In [6]:
def hypotenuse(row):
    return round(row[1]**2 + row[2]**2, 2)**0.5

In [15]:
#only using 4 processes
with mp.Pool(4) as pool:
    result = pool.imap(hypotenuse, df.itertuples(index=False, name=None), chunksize=5)
    output = [round(x,2) for x in result]

In [16]:
print(output)

[7.62, 9.9, 12.73, 6.71, 9.49, 12.04, 5.83, 6.4, 8.54, 10.63, 7.21, 8.94, 5.83, 9.43, 9.85, 9.85, 9.85, 12.04, 11.4, 8.06]

## Applying a function column wise

In [17]:
def sum_of_squares(col):
    return sum([i**2 for i in col[1]])

In [20]:
with mp.Pool(4) as pool:
    result=pool.imap(sum_of_squares, df.iteritems(), chunksize=5)
    output=[x for x in result]

In [21]:
print(output)

[777, 1056, 689, 831, 837, 730, 695, 651, 795, 688, 965, 718, 697, 719, 827, 652, 754, 739, 960, 860]